Tugas3 Implementasi Ai  Untuk Pemasaran.json
{
  "name": "Tugas3 Implementasi Ai  Untuk Pemasaran",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json['api-key'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n   \"model\": \"grok-imagine/text-to-video\",\n   \"callBackUrl\": \"https://your-domain.com/api/callback\",\n   \"input\": {\n      \"prompt\": \"A young woman sitting in a cozy café, working on her assignments using a laptop. The atmosphere is warm and aesthetic, with soft lighting, coffee cups on the table, and a calm environment. People are quietly chatting in the background while she stays focused on her work. The scene feels relaxed, productive, and slightly cinematic.\",\n      \"aspect_ratio\": \"2:3\",\n      \"mode\": \"normal\",\n      \"duration\": \"6\",\n      \"resolution\": \"480p\"\n   }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -912,
        16
      ],
      "id": "3fec338f-1f2c-4360-bc09-85499d5e9e24",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -704,
        16
      ],
      "id": "7f256b07-15b8-44de-b3b2-b37c37ec2930",
      "name": "Wait",
      "webhookId": "a77b4ec3-21b5-4dfc-b089-94078a2e8104"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.data.taskId}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('On form submission').item.json['api-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -496,
        16
      ],
      "id": "a676d44e-c0a7-4422-a467-258913fe4304",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e3ffabc-9982-4c15-9c33-7bf60946df99",
              "leftValue": "success",
              "rightValue": "={{$json.data.state}}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        16
      ],
      "id": "31a8519b-bffe-44c7-aa06-26ec969ea35b",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  VideoUrl: result.resultUrls?.[0] || null\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "47b37164-831a-4093-8f30-c858ddbbc118",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        0
      ],
      "id": "2c6c0737-82c1-4e42-9f95-f66da4fa7aca",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "formTitle": "Generate Video Konten Otomatis",
        "formDescription": "Isi informasi di bawah ini untuk memulai proses generate video",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt"
            },
            {
              "fieldLabel": "img-url"
            },
            {
              "fieldLabel": "task-type"
            },
            {
              "fieldLabel": "api-key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1120,
        16
      ],
      "id": "bfd1a9a9-c308-49eb-ab6e-aa8fc5d0371c",
      "name": "On form submission",
      "webhookId": "5a867ecc-d1a0-49bd-b4db-f2a42c415a01"
    },
    {
      "parameters": {
        "name": "Video Topik 3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1mcyBBMdVbFbLsOtf-B-4y2_pQzTGcgFS",
          "mode": "list",
          "cachedResultName": "Implementasi AI untuk Pemasaran",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1mcyBBMdVbFbLsOtf-B-4y2_pQzTGcgFS"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "c9e3fa11-a3d2-4594-a912-a2e6ae49b4e6",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C44Tzh2UVUQnlq64",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "57f65104-18e6-44df-a78c-7b2adec206a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6dbd27e4102c51415b12cc5ffcf82ddd2c8818a66c10547cec9d92bc65390295"
  },
  "id": "xK3l6MlZe1i8tBmk",
  "tags": []
}