Tugas6 Implementasi AI untuk pemasaran.json
{
  "name": "Tugas6 Implementasi AI untuk pemasaran",
  "nodes": [
    {
      "parameters": {
        "chatId": "5138131873",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        0
      ],
      "id": "a7412389-9783-412b-b304-7778a0e48bca",
      "name": "Send a text message",
      "webhookId": "89dc4b6c-7641-414d-96f4-dd32b087c284",
      "credentials": {
        "telegramApi": {
          "id": "XKwljPH1ntQp9NFB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ervh7cgUwrUhIoolNVOHzdpCiO87tT4NsT06R4KJzH4",
          "mode": "list",
          "cachedResultName": "Best Time to Post Data1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ervh7cgUwrUhIoolNVOHzdpCiO87tT4NsT06R4KJzH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data Posting",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ervh7cgUwrUhIoolNVOHzdpCiO87tT4NsT06R4KJzH4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "b6847fe4-e698-4ecb-b261-d7fe2f9c0719",
      "name": "Baca Data Posting",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ewQtOWDVgVCHJg6q",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua data dari Google Sheets\nconst items = $input.all();\n\nconsole.log('Total items:', items.length);\n\n// Validasi data\nif (!items || items.length === 0) {\n  throw new Error('Tidak ada data yang dibaca dari Google Sheets!');\n}\n\n// Log sample data untuk debugging\nconsole.log('Sample first item:', JSON.stringify(items[0].json));\n\n// Object untuk menyimpan data per jam\nconst hourlyData = {};\n\n// Counter untuk tracking\nlet processedCount = 0;\nlet skippedCount = 0;\n\n// Proses setiap row data\nitems.forEach((item, index) => {\n  try {\n    // Get data dengan berbagai kemungkinan nama kolom\n    const rawData = item.json;\n    \n    // Coba berbagai nama kolom yang mungkin\n    const hour = rawData['Jam Posting'] || rawData['jam posting'] || rawData['Jam'] || rawData['jam'];\n    const likes = parseInt(rawData['Likes'] || rawData['likes'] || 0);\n    const comments = parseInt(rawData['Comments'] || rawData['comments'] || 0);\n    const shares = parseInt(rawData['Shares'] || rawData['shares'] || 0);\n    const platform = rawData['Platform'] || rawData['platform'] || 'Unknown';\n    \n    // Skip jika jam tidak valid atau undefined\n    if (hour === undefined || hour === null || hour === '') {\n      console.log(`Skipping row ${index + 1}: hour is undefined`);\n      skippedCount++;\n      return;\n    }\n    \n    // Convert hour ke number jika string\n    const hourNum = typeof hour === 'number' ? hour : parseInt(hour);\n    \n    // Validasi hour range (0-23)\n    if (isNaN(hourNum) || hourNum < 0 || hourNum > 23) {\n      console.log(`Skipping row ${index + 1}: invalid hour ${hour}`);\n      skippedCount++;\n      return;\n    }\n    \n    // Hitung total engagement (bobot: likes x1, comments x2, shares x3)\n    const engagement = likes + (comments * 2) + (shares * 3);\n    \n    // Initialize data untuk jam ini jika belum ada\n    if (!hourlyData[hourNum]) {\n      hourlyData[hourNum] = {\n        hour: hourNum,\n        totalEngagement: 0,\n        count: 0,\n        totalLikes: 0,\n        totalComments: 0,\n        totalShares: 0,\n        platforms: {}\n      };\n    }\n    \n    // Akumulasi data\n    hourlyData[hourNum].totalEngagement += engagement;\n    hourlyData[hourNum].count += 1;\n    hourlyData[hourNum].totalLikes += likes;\n    hourlyData[hourNum].totalComments += comments;\n    hourlyData[hourNum].totalShares += shares;\n    \n    // Track platform distribution\n    if (!hourlyData[hourNum].platforms[platform]) {\n      hourlyData[hourNum].platforms[platform] = 0;\n    }\n    hourlyData[hourNum].platforms[platform] += 1;\n    \n    processedCount++;\n    \n  } catch (error) {\n    console.error(`Error processing row ${index + 1}:`, error.message);\n    skippedCount++;\n  }\n});\n\nconsole.log(`Processed: ${processedCount}, Skipped: ${skippedCount}`);\n\n// Validasi hasil\nif (Object.keys(hourlyData).length === 0) {\n  throw new Error(`Tidak ada data valid yang bisa diproses! Processed: ${processedCount}, Skipped: ${skippedCount}`);\n}\n\n// Hitung rata-rata dan buat array\nconst results = Object.values(hourlyData).map(data => {\n  const mostUsedPlatform = Object.keys(data.platforms).reduce((a, b) => \n    data.platforms[a] > data.platforms[b] ? a : b\n  );\n  \n  return {\n    jam: `${String(data.hour).padStart(2, '0')}:00`,\n    avgEngagement: Math.round(data.totalEngagement / data.count),\n    jumlahPost: data.count,\n    avgLikes: Math.round(data.totalLikes / data.count),\n    avgComments: Math.round(data.totalComments / data.count),\n    avgShares: Math.round(data.totalShares / data.count),\n    platformTerbanyak: mostUsedPlatform,\n    engagementScore: Math.round((data.totalEngagement / data.count) * 100) / 100\n  };\n});\n\n// Sort berdasarkan engagement tertinggi\nresults.sort((a, b) => b.avgEngagement - a.avgEngagement);\n\n// Ambil top 10 jam terbaik\nconst top10 = results.slice(0, 10);\n\n// Tambahkan ranking\nconst rankedResults = top10.map((item, index) => ({\n  ranking: index + 1,\n  ...item,\n  rekomendasi: index < 3 ? '⭐ SANGAT DIREKOMENDASIKAN' : index < 5 ? '✅ DIREKOMENDASIKAN' : '👍 CUKUP BAIK'\n}));\n\n// Tambahkan timestamp analisis\nconst analysisDate = new Date().toLocaleString('id-ID', {\n  timeZone: 'Asia/Jakarta',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nconst finalResults = rankedResults.map(item => ({\n  ...item,\n  tanggalAnalisis: analysisDate,\n  totalDataDianalisis: processedCount\n}));\n\nconsole.log('Final results count:', finalResults.length);\n\nreturn finalResults.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "b89bb537-3769-45c9-a133-bf57d2e0a82b",
      "name": "Analisis Waktu Terbaik"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ec257ba1-83d1-4299-ba2f-5af7241aa760",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1Ervh7cgUwrUhIoolNVOHzdpCiO87tT4NsT06R4KJzH4",
          "mode": "list",
          "cachedResultName": "Best Time to Post Data1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ervh7cgUwrUhIoolNVOHzdpCiO87tT4NsT06R4KJzH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 723653925,
          "mode": "list",
          "cachedResultName": "Hasil Analisis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ervh7cgUwrUhIoolNVOHzdpCiO87tT4NsT06R4KJzH4/edit#gid=723653925"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        0
      ],
      "id": "683e6101-cff6-4308-9a19-c36e91db9b59",
      "name": "Hapus Hasil Lama",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ewQtOWDVgVCHJg6q",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Ervh7cgUwrUhIoolNVOHzdpCiO87tT4NsT06R4KJzH4",
          "mode": "list",
          "cachedResultName": "Best Time to Post Data1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ervh7cgUwrUhIoolNVOHzdpCiO87tT4NsT06R4KJzH4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 723653925,
          "mode": "list",
          "cachedResultName": "Hasil Analisis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ervh7cgUwrUhIoolNVOHzdpCiO87tT4NsT06R4KJzH4/edit#gid=723653925"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "ranking",
              "displayName": "ranking",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jam",
              "displayName": "jam",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "avgEngagement",
              "displayName": "avgEngagement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jumlahPost",
              "displayName": "jumlahPost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "avgLikes",
              "displayName": "avgLikes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "avgComments",
              "displayName": "avgComments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "avgShares",
              "displayName": "avgShares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platformTerbanyak",
              "displayName": "platformTerbanyak",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "engagementScore",
              "displayName": "engagementScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rekomendasi",
              "displayName": "rekomendasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tanggalAnalisis",
              "displayName": "tanggalAnalisis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "totalDataDianalisis",
              "displayName": "totalDataDianalisis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        0
      ],
      "id": "790f71a3-3626-4586-a902-554d09842ea0",
      "name": "Tulis Hasil Analisis",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ewQtOWDVgVCHJg6q",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil hasil analisis dari input sebelumnya\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  return [{ json: { message: '❌ Tidak ada data untuk dikirim' } }];\n}\n\n// Ambil top 5 jam terbaik\nconst top5 = items.slice(0, 5);\nconst totalData = items[0].json.totalDataDianalisis || 'N/A';\nconst tanggalAnalisis = items[0].json.tanggalAnalisis || new Date().toLocaleString('id-ID');\n\n// Format pesan Telegram dengan emoji dan formatting\nlet message = `📊 *HASIL ANALISIS WAKTU POSTING TERBAIK*\\n`;\nmessage += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\nmessage += `🏆 *TOP 5 JAM TERBAIK:*\\n\\n`;\n\ntop5.forEach((item, index) => {\n  const data = item.json;\n  const medal = index === 0 ? '🥇' : index === 1 ? '🥈' : index === 2 ? '🥉' : `${index + 1}.`;\n  \n  message += `${medal} *JAM ${data.jam}*\\n`;\n  message += `   📈 Avg Engagement: *${data.avgEngagement}*\\n`;\n  message += `   ❤️ Avg Likes: ${data.avgLikes}\\n`;\n  message += `   💬 Avg Comments: ${data.avgComments}\\n`;\n  message += `   🔄 Avg Shares: ${data.avgShares}\\n`;\n  message += `   📱 Platform: ${data.platformTerbanyak}\\n`;\n  message += `   📊 Total Post: ${data.jumlahPost} post\\n`;\n  message += `   ${data.rekomendasi}\\n\\n`;\n});\n\nmessage += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\nmessage += `💡 *REKOMENDASI:*\\n`;\nmessage += `Posting pada jam *${top5[0].json.jam}* memberikan engagement tertinggi dengan rata-rata *${top5[0].json.avgEngagement}* engagement!\\n\\n`;\n\nmessage += `📅 Analisis: ${tanggalAnalisis}\\n`;\nmessage += `📝 Total data: ${totalData} post\\n\\n`;\n\nmessage += `_Gunakan insight ini untuk optimasi strategi posting Anda!_ 🚀`;\n\nreturn [{ json: { \n  chatId: '',  // Akan diisi dari credential atau parameter\n  message: message,\n  parseMode: 'Markdown'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        0
      ],
      "id": "7a974448-efb3-46c0-b271-989d50a6e4d4",
      "name": "Format Pesan Telegram"
    }
  ],
  "pinData": {},
  "connections": {
    "Baca Data Posting": {
      "main": [
        [
          {
            "node": "Analisis Waktu Terbaik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Waktu Terbaik": {
      "main": [
        [
          {
            "node": "Hapus Hasil Lama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Baca Data Posting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hapus Hasil Lama": {
      "main": [
        [
          {
            "node": "Tulis Hasil Analisis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tulis Hasil Analisis": {
      "main": [
        [
          {
            "node": "Format Pesan Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Pesan Telegram": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "af2994a2-f963-4a62-bd90-1a7bd46c9d23",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6dbd27e4102c51415b12cc5ffcf82ddd2c8818a66c10547cec9d92bc65390295"
  },
  "id": "CMUHCBJYGZKWYl9d",
  "tags": []
}